h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    align-content: center;
    background-color: ;

}

.navbar a{
    text-align: center;
    padding: 14px 16px;
    color: ;
}

.logo{
    align-items: left;
    
}