{% extends "base.html" %}

{% block main_content %}
<h1>Roomie-match</h1>
{% for post in allPosts %}

<div class="post" >
    <!-- <p><img class="pics" src="{{url_for('pic',file_id=post.file_id)}}" alt="profPic">  -->
        {{post.name}} is looking for {{post.post_type}}! </p>
        <p class="desc">Post Description: {{post.post_desc or "No description"}}</p>
        <ul>
            <li>Location: {{post.location}}</li>
            <li>Monthly Rent: ${{post.budget}}</li>
            <li>Maximum Number of Roommates Needed: {{post.max_roommates}}</li>
            <li>Shared Bathroom: {{post.shared_bathroom}}</li>
            <li>Shared Bedroom: {{post.shared_bedroom}}</li>
            <li>Pets Friendly: {{post.ok_with_pets}}</li>
            <li>Picture of the room:</li> 
            <img class="pics" src="{{url_for('roompic',file_id=post.file_id)}}">
        </ul>
        <form method="get" action="{{url_for('viewChat')}}">
        <p><input type="submit" id="submit" value="Message {{post.name}}"> </p>
        </form>
    </p>
</div>
{% endfor %}
{% endblock %}