<!-- Authors: Anjali Karki, Indira Ruslanova, Flora Mukako, Ali Bichanga -->
{% extends "base.html" %}

{% block content %}
<!--Individual chats-->
<h2>Messages between {{from_name}} <span id="current_user_id">{{current_user_id}}</span> and {{to_name}} <span id="recipient_id">{{recipient_id}}</span></h2>

{% for items in messages %}
    <div class="message {% if items.sender == current_user_id %}sent{% else %}received{% endif %}">
        <p><strong>Message from {{items.sender_name}}: </strong>{{ items.message }}</p>
        {{items.time}}
    </div>
{% endfor %}

<div class="form">
    <form id="messages-form" method="post" action="{{url_for('sendMessage', rec_id = recipient_id)}}">
        <p><label>Message: 
            <input required type="text" name="message" size="100"></label></p>
        <p><input name="send" type="submit" value="Send Message"></p>
    </form>
</div>

<h2 id="loginButton" class="loginButtons"><a href="{{ url_for('viewPosts') }}">Back</a></h2>
{% endblock %}